@import '../modules/color';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
  color: $deepGray;
  > * {
    background-color: $white;
  }
  font-family: Helvetica, "segoe ui", "microsoft jhenghei", "microsoft mhei", Arial;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}