@import '../modules/mediaquery';

.carousel {
  position: relative;
  text-align: center;
  margin-top: 58px;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__action {
    cursor: pointer;
    user-select: none;
    @include mediaquery_phone {
      position: absolute;
    }
    img {
      max-width: initial;
      @include mediaquery_phone {
        width: 25px;
      }
    }
    &__previous {
      margin-right: 14px;
      @include mediaquery_customized-1170px {
        margin-right: -27px;
        padding: 10px 0;
        z-index: 5;
      }
      @include mediaquery_phone {
        left: 3px;
        padding: 30px 30px 30px 0;
      }
    }
    &__next {
      margin-left: 14px;
      @include mediaquery_customized-1170px {
        margin-left: -27px;
        padding: 10px 0;
        z-index: 5;
      }
      @include mediaquery_phone {
        right: 3px;
        padding: 30px 0 30px 30px;
      }
    }
  }
  &__photos {
    position: relative;
    font-size: 0;
    cursor: pointer;
    @include mediaquery_customized-1060px {
      width: 95%;
      max-width: 1024px;
    }
    @include mediaquery_phone {
      width: 100%;
    }
    img {
      max-width: 100%;
    }

    &__index {
      position: absolute;
      bottom: 17px;
      width: 100%;
      display: flex;
      justify-content: center;
      @include mediaquery_iPadMini {
        bottom: 16px;
      }
      @include mediaquery_phone {
        bottom: 8px;
      }

      .dot {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $white;
        background: transparent;
        cursor: pointer;
        &.active {
          background: $white;
        }
      }

      .dot + .dot {
        margin-left: 7px;
      }
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    &__direction{
      font-size: 0;
      cursor: pointer;
      img {
        max-width: 40px;
      }
      &--left {
        margin-right: 15px;
        @include mediaquery_customized-1170px {
          display: none;
        }
      }
      &--right {
        margin-left: 15px;
        transform: rotate(180deg);
        @include mediaquery_customized-1170px {
          position: absolute;
          right: -20px; // reference to .cards
        }
        @include mediaquery_customized-750px {
          display: none;
        }
      }
      &--bottom {
        display: none;
        @include mediaquery_customized-750px {
          display: flex;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          margin-top: 20px;
          padding-top: 19px;
          padding-bottom: 19px;
        }
        // @include mediaquery_customized-750px {}
        img {
          transform: rotate(-90deg);
          width: 25px;
          margin-left: 5px;
        }
      }
      
    }
    .cards {
      position: relative;
      @include mediaquery_customized-1095px {
        width: auto;
      }
    }
    .card {
      margin-bottom: 0;
      &:nth-child(2) {
        // first card in carousel
        margin-left: 0;
        @include mediaquery_customized-750px {
          margin-left: 18px;
        }
        @include mediaquery_phone {
          margin-left: 0;
        }
      }
      &:nth-child(3n+1) {
        // second card in carousel
        margin-left: 18px;
        @include mediaquery_phone {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
      &:nth-child(3) {
        // third card in carousel
        @include mediaquery_customized-1170px {
          display: none;
        }
      }
    }
  }
}