@import '../modules/color';
@import '../modules/font';
@import '../modules/mediaquery';
@import '../modules/card';

.event {
  padding-top: 58px;
  color: $deepGray;
  .eventBorder {
    border-bottom: 1px solid $lightGray;
  }
  .eventBox {
    max-width: $width__customized-1200px;
    margin: auto;
    padding: 40px 0 60px;
    display: flex;
    flex-flow: row nowrap;
    &--full {
      flex-direction: column;
      .event__title {
        flex-basis: 80px;
      }
      .event__content {
        flex-basis: auto;
      }
    }
  }
  .eventBox + .eventBox {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__title {
    flex-basis: 320px;
    margin-right: 145px;
    &__eventTitle {
      font-size: $eventTitle-fontSize;
      line-height: 1.5;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 16px;
      border: solid 2px $deepGray;
      display: inline-block;
      padding: 7px 20px;
    }
  }
  &__info {
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    > span {
      margin-right: 19px;
      display: flex;
    }
    &__icon {
      max-width: 21px;
      margin: auto;
    }
    &__icon.star {
      position: relative;
      top: 2px;
    }
    &__map {
      max-width: 27px;
      margin-left: 14px;
    }
    p {
      line-height: 1.5;
    }
    &__tags {
      .tag {
        padding: 4px 16px 2px;
        border: 1px solid #000;
        border-radius: 50px;
        word-wrap: normal;
        display: inline-block;
        margin:0 8px 12px 0;
        &__count {
          padding: 2px;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  &__content {
    flex-basis: 790px;
    &__line {
      display: flex;
      h3 {
        flex-basis: 4em;
        margin-right: 20px;
        font-size: 16px;
      }
      a {
        text-decoration: underline;
        color: $lightGray-2;
      }
    }
    &__line + &__line {
      margin-top: 26px;
    }
    &__paragraph {
      p {
        line-height: 1.5;
      }
      p + p {
        margin-top: 26px;
      }
    }
    &__paragraph + &__paragraph {
      margin-top: 46px;
    }
    &__map {
      text-align: center;
    }
    &__icon {
      margin: 8px auto 6px;
    }
  }
  &__photos {
    &__mainImage {
      margin-bottom: 26px;
      img {
        border-radius: 3px;
      }
    }
    &__otherImages {
      img {
        border-radius: 50%;
      }
      span + span {
        margin-left: 17px;
      }
    }
  }
}