@import '../modules/color';
@import '../modules/font';
@import '../modules/mediaquery';

.event {
  padding-top: 58px;
  color: $deepGray;
  .eventBorder {
    border-bottom: 1px solid $lightGray;
  }
  .eventBox {
    max-width: $width__customized-1170px;
    margin: auto;
    padding: 40px 0 60px;
    display: flex;
    flex-flow: row nowrap;
  }
  .eventBox + .eventBox {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__title {
    flex-basis: 320px;
    margin-right: 145px;
    &__eventTitle {
      font-size: $eventTitle-fontSize;
      line-height: 1.5;
      margin-bottom: 30px;
    }
  }
  &__info {
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    > span {
      margin-right: 19px;
      display: flex;
    }
    &__icon {
      max-width: 21px;
      margin: auto;
    }
    &__icon.star {
      position: relative;
      top: 2px;
    }
    &__map {
      max-width: 27px;
      margin-left: 14px;
    }
    p {
      line-height: 1.5;
    }
    &__tags {
      .tag {
        padding: 4px 16px 2px;
        border: 1px solid #000;
        border-radius: 50px;
        word-wrap: normal;
        display: inline-block;
        margin:0 8px 12px 0;
        &__count {
          padding: 2px;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__photos {
    &__mainImage {
      margin-bottom: 26px;
      img {
        border-radius: 3px;
      }
    }
    &__otherImages {
      img {
        border-radius: 50%;
      }
      span + span {
        margin-left: 17px;
      }
    }
  }
}