@import '../modules/color';
@import '../modules/font';
@import '../modules/mediaquery';
@import '../modules/button';

.login {
  position: relative;
  min-height: 100vh;
  padding-top: 95px;
  &__forgotPassword {
    .loginBox{
      padding: 20px 56px 50px;
      margin-top: 105px;
      @include mediaquery_phone {
        max-width: 290px;
        padding: 20px 11px;
        margin-top: 0;
      }
    }
    &--sent {
      .loginBox{
        padding: 20px 56px;
        @include mediaquery_phone {
          max-width: 290px;
          padding: 20px 11px;
        }
      }
      .login__forgotPassword__status {
        font-size: $content-fontSize;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        img {
          margin-left: 8px;
        }
      }
      .login__forgotPassword__message {
        text-align: left;
        font-size: $content-fontSize;
        line-height: 1.5;
        width: 70%;
        margin: auto;
        word-break: break-all;
      }
    }
    .footer__login {
      margin-top: 240px;
    }
    .login__forgotPassword__input {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
      p {
        font-size: $content-fontSize;
      }
    }
  }
  &__register {
    .loginBox {
      margin-top: 60px;
      @include mediaquery_phone {
        margin-top: 20px;
      }
    }
    .footer__login {
      margin-top: 182px;
    }
    .login__register__status {
      display: none;
    }
    .login__agreement {
      margin-top: 43px;
    }
  }
  .status {
    &--success {
      & ~ .login__forgotPassword__message {
        padding: 24px 0;
      }
    }
    &--error {
      & ~ .login__forgotPassword__message {
        padding: 34px 0 35px;
        text-align: center;
      }
      .login__register__status {
        display: flex;
        background-color: $alertBgColor;
        color: $alertFontColor;
        justify-content: center;
        padding: 6px 0;
        position: absolute;
        top: -42px;
        left: 0;
        width: 100%;
        img {
          margin-left: 4px;
        }
      }
      .login__password__again {
        position: relative;
        &::placeholder {
          color: $alertFontColor;
        }
        ~ .error {
          background: url(../../images/icons/status-error.svg) no-repeat;
          width: 16px;
          display: inline-block;
          height: 16px;
          position: absolute;
          right: 11px;
          top: 13px;
        }
      }
    }
  }

  a {
    color: $primaryColor;
  }
  :placeholder {
    color: $placeholderColor;
  }

  &Box {
    position: relative;
    background-color: $white-3;
    max-width: 424px;
    padding: 20px 56px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include mediaquery_phone {
      max-width: 290px;
      padding: 20px 11px;
    }
    > h3, h4, a, p {
      font-size: $description-fontSize;
      font-weight: normal;
      line-height: 1.25;
    }
    h3 {
      text-align: center;
      margin: 9px 0;
    }
  }
  &Box + &Box {
    margin: 10px auto 0;
  }
  &__memo {
    text-align: left;
    h4, p {
      line-height: 1.83;
    }
  }
  &__mainTitle {
    font-size: $mainTitle-fontSize;
    text-align: center;
    margin-bottom: 20px;
  }
  .login__subTitle {
    font-size: $content-fontSize;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  &__inputGroup {
    margin-bottom: 10px;
  }
  &__input {
    padding: 9px 11px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 2px;
    font-size: $content-fontSize;
    color: $inputColor;
    max-height: 40px;
    line-height: 1.5rem;
    background-color: $white;
  }
  &__input + &__input {
    margin-top: 8px;
  }
  &__testCode {
    width: 60%;
    margin-left: 5px;
    max-width: 185px;
    @include mediaquery_phone {
      width: 65%;
    }
  }
  &__email, &__text {
    letter-spacing: 1px;
  }
  &__password {
    font-size: 1.5em;
    letter-spacing: .1em;
    &:placeholder-shown {
      font-size: 14px;
    }
    &__check {
      position: relative;
      margin-top: 10px;
    }
  }
  &__rememberMe {
    display: flex;
    align-items: center;
    user-select: none;
  }
  &__fakeCheckbox {
    display: inline-block;
    font-size: 0;
    width: 14px;
    height: 14px;
    border: 1px solid $lightGray;
    background-color: $white;
    box-shadow: inset 0px 0px 0px 2px $white;
    border-radius: 50%;
    cursor: pointer;
    & ~ label {
      line-height: 1.5;
      cursor: pointer;
      padding: 0 10px 0 5px;
    }
  }
  &__checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
    &:checked {
      & ~ .login__fakeCheckbox{
        background-color: $deepGray;
      }
    }
  }
  &__justifySpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $description-fontSize;
    margin-bottom: 25px;
  }
  &__seperator {
    text-align: center;
    padding-top: 18px;
  }
  &__agreement {
    margin-top: 10px;
  }

  &__selectGroup {
    > div {
      display: flex;
      justify-content: center;
    }
    > div:first-child {
      align-items: center;
    }
    > div:last-child {
      align-items: flex-start;
      margin-bottom: 52px;
    }
    > div + div {
      margin-top: 20px;
    }
    &__icon {
      font-size: 0;
      margin-right: 5px;
      img {
        min-width: 22px;
      }
    }
    p {
      text-align: left;
      font-size: $content-fontSize;
      padding-left: 10px;
      line-height: 1.5;
    }
    .selectric {
      background: $white-3;
      .button {
        background: $white-3;
      }
    }
    .selectric-wrapper {
      width: 100%;
    }
    .selectric-items {
      box-shadow: none;
    }
    .selectric-open {
      .selectric {
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 2px 2px 0 0;
        .button {
          background-color: $white;
        }
      }
      .selectric-items {
        z-index: 1;
        margin-top: -3px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 2px 2px;
      }
    }
    
    &__register {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
      > div {
        // flex-basis: 49%;
        flex-grow: 1;
        &:first-child {
          margin-right: 7px;
        }
      }
      .selectric-wrapper {
        width: 100%;
      }
      .selectric .button {
        background-color: $primaryColor;
        width: 31px;
        // filter: invert(1);
        &::after {
          background-image: url(../../images/icons/bottom-direction-white.svg);
          background-size: 12px;
          transform: none;
        }
      }
      .selectric-open {
        .selectric .button {

        }
      }
    }
  }
}