@import '../modules/mediaquery';
.promotion {
  position: relative;
  background: $primaryColor;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  &__content {
    text-align: center;
    width: 60%;
    padding: 92px 0;
    color: $white;
    @include mediaquery_customized-1170px {
      width: 50%;
    }
    @include mediaquery_customized-950px {
      width: 40%;
      margin-right: 2%;
    }
    @include mediaquery_customized-880px {
      width: 35%;
    }
    @include mediaquery_customized-800px {
      width: 28%;
      padding: 82px 0;
      margin-right: 5%;
    }
    @include mediaquery_customized-750px {
      width: 100%;
      padding: 67% 0 50px;
      margin-right: 0;
    }

    @include mediaquery_phone {
      padding-top: 87%;
    }
    @include mediaquery_iPhone5 {
      padding: 105% 15% 52px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 2%;
      bottom: 0;
      // background: url(../../images/cta_banner_bg.svg) no-repeat left bottom transparent;
      background: url(./images/cta_banner_bg.svg) no-repeat left bottom transparent;
      background-size: contain;
      width: 60%;
      height: 102%;
      @include mediaquery_customized-1170px {
        left: -8%;
        width: 75%;
      }
      @include mediaquery_iPadMini {
        left: -12%;
      }
      @include mediaquery_customized-750px {
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        background-size: 80%;
        background-position: top 36px center;
        height: 80%;
      }

      @include mediaquery_phone { 
        background-size: 100%;
      }
      @include mediaquery_iPhone5 { 
        background-position: top 36px left -30px;
        background-size: 112%;
      }
    }
    h2 {
      margin-bottom: 36px;
      font-size: $headline-fontSize;
      position: relative;
    }
    p {
      margin-bottom: 60px;
      font-size: $subTitle-fontSize;
      line-height: 1.5;
      position: relative;
    }
  }
}