@import './color';

.button {
  background-color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  user-select: none;
  &--primary {
    border: solid 1px $primaryColor;
    color: #02bad3;
    font-size: 15px;
    padding: 5px;
  }
  &__card--callToAction {
    color: $primaryColor;
    border: solid 2px $primaryColor;
    padding: 7px 24px;
    background-color: transparent;
  }

  &__more {
    padding: 4px 32px 4px 14px;
    position: relative;

    &::before {
      content:'';
      position: absolute;
      right: 15px;
      width: 10px;
      height: 10px;
      border: 1px solid transparent;
      border-bottom-color: #02bad3;
      border-right-color: #02bad3;
      transform: rotate(45deg);
    }
  }
  &__promotion--callToAction {
    color: $white;
    border: solid 2px $white;
    padding: 9px 24px;
    background-color: transparent;
  }
  &__login {
    width: 100%;
    font-size: $content-fontSize;
    color: $white;
    padding: 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    border-radius: 2px;
    cursor: pointer;
  }
  &__login + &__login {
    margin-top: 10px;
  }
  &__login__submit {
    background-color: $primaryColor;
  }
  &__login__facebook {
    background-color: $facebookColor;
    > img {
      margin-right: 10px;
    }
  }
}