@import './color';
@import './font';
@import './mediaquery';

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    @include mediaquery_customized-1095px {
      justify-content: center;
      width: 99%;
      margin: auto;
    }
    @include mediaquery_customized-750px {
      max-width: 700px;
      margin: auto;
    }
  .card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: $white;
    border-radius: 7px;
    max-width: 340px;
    margin-left: 18px;
    margin-bottom: 35px;
    flex-grow: 1;
    @include mediaquery_customized-1095px {
      margin-left: 0;
    }

    @include mediaquery_iPadMini {
      justify-content: space-between;
      margin-left: 0;
    }

    @include mediaquery_phone {
      max-width: 298px;
      margin-bottom: 30px;
    }
    @include mediaquery_iPhone5 {
      width: 100%;
    }
    
    &__photo {
      position: relative;
      font-size: 0;
      max-height: 170px;
      min-height: 170px;
      img {
        border-radius: 7px 7px 0 0;
      }
    }
    &__content {
      padding: 14px 18px 10px 18px;
      @include mediaquery_phone  {
        padding: 11px 15px 10px;
      }
      &__title {
        margin-bottom: 15px;
        font-size: $subTitle-fontSize;
        line-height: 1.25;
        min-height: 2.5em;
        color: $deepGray;
        text-align: left;

        &--center {
          text-align: center;
          margin-bottom: 8px;
          min-height: auto;
        }
      }
      &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--center {
          text-align: center;
          button {
            margin: 0 auto 3px;
          }
        }

        > p {
          font-size: 0;
          padding-left: 15px;

          > span {
            font-size: $description-fontSize;
            vertical-align: middle;
            color: $deepGray;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: inline-block;
          }
          
          > img {
            height: 12px;
            margin-right: 3px;
            vertical-align: middle;
          }
        }
      }
      &__date {
        // background: url(../../images/icons/calendar.svg) no-repeat left center; // for sass compiler
        background: url(../images/icons/calendar.svg) no-repeat left center; // for github pages
        background-size: 11px;
      }

      &__country {
        // background: url(../../images/icons/mark-solid.svg) no-repeat left center; // for sass compiler
        background: url(../images/icons/mark-solid.svg) no-repeat left center;
        background-size: 10px;
      }

      &__location {
        // background: url(../../images/icons/star.svg) no-repeat left center; // for sass compiler
        background: url(../images/icons/star.svg) no-repeat left center; // for github pages
        background-size: 12px;
        max-width: 33.33333%;
      }
    }
    &__more {
      .card__photo {
        background-color: $primaryColor;
        border-radius: 7px 7px 0 0;
        img {
          position: absolute;
          left: 2%;
          bottom: 0;
          height: 97%;
        }
      }
    }
  }
  .card:nth-child(3n+1) {
    margin-left: 0;
    @include mediaquery_customized-1095px {
      margin-left: 18px;
    }
    @include mediaquery_iPadMini{ 
      margin-left: 0;
    }
  }

  .card:nth-child(4n+1) {
    @include mediaquery_customized-1095px {
      margin-left: 0px;
    }
  }

  .card:nth-child(2n+2) {
    @include mediaquery_customized-1095px {
      margin-left: 18px;
    }
    @include mediaquery_iPadMini{
      margin-left: 21px;
    }
    @include mediaquery_customized-750px {
      margin: 0 21px 30px;
    }
    @include mediaquery_iPhone5 {
      margin: 0 0 30px;
    }
  }
}