// color set
$black: #000000;
$deepGray: #484848;
$deepGray-2: #979797;
$gray: #7a7a7a;
$lightGray: #e3e3e3;
$lightGray-2: #aeaeae;
$lightGray-3: #b1b1b1;
$white: #ffffff;
$white-2: #f4f4f4;
$white-3: #f6f6f6;
$blue: #02bad3;
$blue-2: #e2f6f9;
$red: #d6191e;
$pink: #ffd8d8;

// color palette
$primaryColor: $blue;
$secondaryColor: $deepGray;
$placeholderColor: $lightGray-3;
$inputColor: #5c5d5d;
$facebookColor: #395590;
$alertBgColor: $pink;
$alertFontColor: $red;